.color-12 {
    background-color: grey;
    color: white;
    height: 50px;
    text-align: right;
    padding-top: 2rem;
    font-weight: bold;
    font-size: larger;
}

.king-1 {
    background-color: lightgrey;
    color: black;
    border: 2px;
    font-size: larger;
    border: 1px solid black;
    text-align: center;
}

.king-2 {
    background-color: orange;
    color: white;
    border: 1px solid black;
    text-align: center;
    font-size: larger;
}

.body-1 {
    width: 50%;
    height: 20px;
}
