.navbar-home {
    background-color: orangered;
    border-radius: 0px;
    margin: 0px;
    border-color: none;
	border: none;
}

.navbar-home .navbar-nav > li > a {
    color: white;
}

.navbar-home .navbar-brand {
    color: white;
	font-weight: bold;
}

.carousel-content {
    height: 550px;
}

.about-pizza {
margin-top: 3rem;
margin-bottom: 2rem;
}

.pizza-types{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.footer{
	background-color: orangered;
	color: white;
	padding: 1.5rem 0;
	font-size: large;
}